#-----For Next.js App-----
GCP_PROJECT_ID=<your-gcp-project-id>
NEXT_PUBLIC_GOOGLE_CLIENT_ID = <your-google-oauth-client-id>
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET = <your-google-oauth-client-secret>
NEXT_PUBLIC_INGEST_CLOUD_URL = <your-cloud-run-ingest-service-url>
NEXTAUTH_URL = <your-app-base-url>
NEXTAUTH_SECRET = <your-nextauth-secret>
GOOGLE_REDIRECT_URI = <your-google-redirect-uri>
TOKEN_ENCRYPTION_KEY = <your-token-encryption-key> OR
ENCRYPTION_KEY=<your-encryption-key>
FIREBASE_PROJECT_ID = <your-firestore-project-id>

#-----For Pipeline Services-----
GCP_PROJECT_ID = <your-gcp-project-id>
GOOGLE_APPLICATION_CREDENTIALS = <path-to-service-account-json>
ENCRYPTION_KEY = <your-encryption-key>
INSTAGRAM_GRAPH_API_BASE = https://graph.instagram.com
